<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<springProperty scope="context" name="springAppName"
		source="spring.application.name" />

	<property name="LOG_PATTERN"
		value="REQID: %X{RequestId} | %d{yyyy-MM-dd HH:mm:ss:SSS} | %-5p | %-50c{1} | %-5L | %-25M | %m%n" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<logger name="com.demo">
		<level value="DEBUG" />
	</logger>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>